body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.sidebar {
	background: rgba(0,0,0,0.1);
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 999;
	margin-left: -16%;
}
.sidebar .element {
	line-height: 3em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-size: 1.5em;
	padding: 0 0.5em;
}
.sidebar .element .first {
	border-top: 1px solid rgba(0,0,0,0.2);
}
#close {
	position: absolute;
}
#close {
	position: relative;
	text-align: right;
	font-weight: bold;
	font-size: 3.5em;
	width: 97%;
	margin: -0.5em 0;
	cursor: pointer;
}


